<section class="header">
  <div class="logo">
    <img src="assets/images/logo2.svg">
  </div>
  <div>

  </div>
  <div class="user">
    <i class="fa-solid fa-circle-user fa-2x"></i>
  </div>
</section>

<section>
  <h4 style="margin-bottom: 4px">Olá {{activeUser.name}}</h4>
  <h1>Minha Lista de Compras</h1>

  <br/>

  <input class="add" type="text" placeholder="Buscar novo produto" />

  <ul class="product-list">
    <li>
      <div>
        <i class="fa-solid fa-box"></i>
        <div class="product-desc">
          <p>Produto X</p>
          <!--<span>Categoria</span>&nbsp;<span>Marca</span><br/>-->
          <span>Duração Estm.</span>&nbsp;<span>20d</span>
        </div>
        <div class="product-amount">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="amount">
            1
          </span>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
      </div>

      <div>
        <i class="fa-solid fa-box"></i>
        <div class="product-desc">
          <p>Produto Y</p>
          <!--<span>Categoria</span>&nbsp;<span>Marca</span><br/>-->
          <span>Duração Estm.</span>&nbsp;<span>21d</span>
        </div>
        <div class="product-amount">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="amount">
            1
          </span>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
      </div>

      <div>
        <i class="fa-solid fa-box"></i>
        <div class="product-desc">
          <p>Produto Z</p>
          <!--<span>Categoria</span>&nbsp;<span>Marca</span><br/>-->
          <span>Duração Estm.</span>&nbsp;<span>19d</span>
        </div>
        <div class="product-amount">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="amount">
            1
          </span>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
      </div>
    </li>
  </ul>
</section>
