<section class="header">
  <div class="logo">
    <img src="assets/images/logo2.svg">
  </div>
  <div>

  </div>
  <div class="user">
    <i class="fa-solid fa-circle-user fa-2x"></i>
  </div>
</section>

<section>
  <h4 style="margin-bottom: 4px">Olá {{activeUser.name}}</h4>
  <h1>Minha Lista de Compras</h1>

  <br/>

  <div class="schedule">
    <span>Próxima data de compra: </span><input type="date" placeholder="DD/MM">
  </div>

  <br/>

  <div class="autocomplete-container">
    <input class="add" type="text" placeholder="Buscar novo produto" [(ngModel)]="productToSearch" (input)="onSearchChange()"/>
    <div class="autocomplete" [ngStyle]="{'display': productToSearch.length > 2 ? 'block' : 'none'}">
      <ul *ngIf="searchList.length > 0">
        <li>
          <div *ngFor="let product of searchList">
            <i class="fa-solid fa-box"></i>
            <div class="product-desc">
              <p>{{product.name}}</p>
              <span>{{product.type}}</span>&nbsp;<span>{{product.brand}}</span><br/>
            </div>
            <div class="product-price">
              <span>Preço médio:</span>
              <span class="price">R$99,99</span>
            </div>
          </div>
        </li>
      </ul>

      <div class="empty" *ngIf="searchList.length == 0">
        Pruduto não encontrado em nossos parceiros
      </div>
    </div>
  </div>


  <ul class="product-list">
    <li>
      <div>
        <i class="fa-solid fa-box"></i>
        <div class="product-desc">
          <p>Produto X</p>
          <!--<span>Categoria</span>&nbsp;<span>Marca</span><br/>-->
          <span>Duração Estm.</span>&nbsp;<span>20d</span>
        </div>
        <div class="product-amount">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="amount">
            1
          </span>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
      </div>

      <div>
        <i class="fa-solid fa-box"></i>
        <div class="product-desc">
          <p>Produto Y</p>
          <!--<span>Categoria</span>&nbsp;<span>Marca</span><br/>-->
          <span>Duração Estm.</span>&nbsp;<span>21d</span>
        </div>
        <div class="product-amount">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="amount">
            1
          </span>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
      </div>

      <div>
        <i class="fa-solid fa-box"></i>
        <div class="product-desc">
          <p>Produto Z</p>
          <!--<span>Categoria</span>&nbsp;<span>Marca</span><br/>-->
          <span>Duração Estm.</span>&nbsp;<span>19d</span>
        </div>
        <div class="product-amount">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="amount">
            1
          </span>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr/>
  <div class="footer">
    <h3>*Total Aproximado:</h3>
    <div class="price">
      <h2>R$99,00</h2>
    </div>
  </div>


</section>
