:host{
  > section{
    background: white;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
  }

  section.header{


    display: grid;
    grid-template-columns: 20vw auto 20vw;

    .logo{
      width: 20vw;
      position: relative;

      img{
        position: absolute;
      }
    }

    .user{
      text-align: right;
      color: #888888;

      i{
        font-size: 1.5em;
      }
    }
  }

  .schedule{

    span{
      font-weight: bold;
      color: #333;
      font-size: .8rem;
    }

    input{
      width: 100%;
      box-sizing: border-box;
      font-size: .8rem;
      border: 1px solid #990000;
      border-radius: 5px;
      margin: 5px 0;
      padding: .5rem;
      display: block;
    }
  }

  .autocomplete-container{

    position: relative;

    input.add{
      width: 100%;
      padding: .5rem;
      box-sizing: border-box;
      font-size: .8rem;
      border: 1px solid #990000;
      border-radius: 5px;
      margin-bottom: 1.5rem;
    }

    div.empty{
      padding: .5rem;
      font-size: .8rem;
      text-align: center;
      color: #888888;
    }

    div.autocomplete{

      position: absolute;
      width: 100%;
      top:2.2rem;
      display: none;
      background: #FFF;
      border: 1px solid #777;
      border-radius: 5px;
      padding: .5rem;
      box-sizing: border-box;
    }
  }

  div.empty-basket{
    color: #AAA;
    text-align: center;
    border: 5px dashed #EEE;
    padding: 1rem;
    border-radius: 15px;
  }

  ul{
    list-style: none;

    li{

      >div{
        padding: 10px 0px;
        display: grid;
        grid-template-columns: 2rem auto 4.5rem;

        i {
          color: #999;
          font-size: 1.7em;
        }

        div.product-price {

          text-align: right;

          span{
            font-size: .6rem;
            display: block;
            color: #888;
          }

          span.price{
            font-size: .8rem;
            color: #333;
          }
        }

        div.product-desc {
          p{
            font-size: .8rem;
            font-weight: 700;
            color: #444;
            line-height: .8em;
          }

          span{
            font-size: .75rem;
            color: #777;
          }
        }

        div.product-amount{

          text-align: right;

          i{
            font-size: 1.2em;
            color: #1BB3BC;
          }

          span.amount{
            padding: 0px 10px;
          }
        }
      }
    }
  }

  .footer{
    margin-top: .5rem;
    display: grid;
    grid-template-columns: auto 2fr;

    div.price{
      text-align: right;
    }
  }

  button.buy-now{
    margin-top: 25px;
    background: #9E3667;
    padding: .65rem;
    color: #FFF;
    border: 0;
    border-radius: 4px;
    width: 100%;

  }
}
